<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Update Customer</title>
<link rel="stylesheet" type"text/css" href="../CSS/REGISTRATION.css">
</head>
<body >
   <nav>
         <ul><b>
            <li class="desktop-only">  
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
            <li><a href="../Home.html">Home</a></li>&nbsp; 
            <li><a href="../Search.html">Search</a></li>&nbsp;  
            <li><a href="../Registration.html">Registration</a></li>&nbsp;  
            <li><a href="../AboutUs.html">AboutUs</a></li>&nbsp;  
            <li><a href="../ContactUs.html">ContactUs</a></li></b>
         </ul>
      </nav>

      <h2> Update Customer </h2>

    
    <div class="Registration Form-form">
       <form id="form1" action="../update/<%= customer[0]._id%>?_method=PUT" method="POST">
          <input id="input1" name="customerid" type="text" class="form-control" value="<%= customer[0].customerid %>" required><br>
          <input id="input1" name="name" type="text" class="form-control" value="<%= customer[0].name %>" required><br>
          <input id="input1" name="phoneNumber" type="number" class="form-control" value="<%= customer[0].phoneNumber %>" required><br>
          <input id="input1" name="email" type="email" class="form-control" value="<%= customer[0].email %>" required><br>
          <input id="input1" name="DOB" type="date" class="form-control" value="<%= customer[0].DOB %>" required><br>
          <button type="submit">Update</button>
       </form>
     </div>
    <br>
    <a href="../customers"><button>Cancel</button></a>
</center>

    </ul>
      <footer >
        <div id="center">
        The hottest deals and discount in your inbox<br>
        <div id="size">Subscribe to Our Newsletter
            <br>
            <input type="text" name="firstname" placeholder="Name*" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <a href="/Con_Sub_Message.html"><button  type="Subscribe" >Subscribe</button></a>  
        </div>
           <br>
           <center><A HREF="AboutUs.html">AboutUs</A>&nbsp;&nbsp;
           <A HREF="ContactUs.html">ContactUs</A>
           </center><br>
     </footer>
   </body>
   </html>